@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 1000vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
}

.backone {
  background-image: url(../src/assets/backtwo.jpeg);
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  height: 50rem;
}
